.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 15%;
    background-color: black;
}
.headerContainer a {
    text-decoration: none;
    color: $blanco;
    font-size: 1.6rem;
}